################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Investbot/bin
/Investbot/obj
/Investbot/Properties/PublishProfiles
/Investbot/appsettings.json
/Investbot/Investbot.csproj.user
/InvestbotTests/bin
/LissovWebsite.Interface/bin
/LissovWebsite.Interface/obj
/InvestbotTests/obj
/investmentbot.PublishSettings
/Timex/bin
/packages
/Timex/obj
/Timex.Tests/bin/Debug
/Timex.Tests/obj
